# Core scientific stack
numpy
scipy

#file loaders
openpyxl
pandas

# Neuroimagerie
nibabel
nilearn
scikit-image
antspyx

# EEG support
mne

# Deep learning
torch
torchvision
scikit-learn

# Visualisation
matplotlib
seaborn
ipywidgets

# Optionnel pour les chargements et les logs
tqdm
colorlog

# Optionnel : TSNE/PCA rapide
umap-learn
xgboost

# Sauvegarde modèles, I/O avancé
joblib

#Pretrain Neural Network
monai