# Core scientific stack
numpy
scipy
pandas

#file loaders
openpyxl

# Neuroimagerie
nibabel
nilearn

# EEG support (si tu ajoutes MNE)
mne

# Deep learning
torch
torchvision
scikit-learn

# Visualisation
matplotlib
seaborn
ipywidgets

# Optionnel pour les chargements et les logs
tqdm
colorlog

# Optionnel : TSNE/PCA rapide
umap-learn

# Sauvegarde modèles, I/O avancé
joblib

#Pretrain Neural Network
monai